[user]
	name = Stephen Peasley
	email = s@stephenpeasley.com
[color]
	ui = auto
[alias]
  hist = log --graph --pretty=format:'%C(yellow)%h%Creset |%C(cyan)%d%Creset %Cgreen%s%Creset %ad (%cr) [%an]' --date=short --abbrev-commit --
  hist10 = log --graph --pretty=format:'%C(yellow)%h%Creset |%C(cyan)%d%Creset %Cgreen%s%Creset %ad (%cr) [%an]' --date=short --abbrev-commit -10 --
	st = status
	br = branch
	ci = commit
	co = checkout
	df = diff
	aa = !git add -u && git add . && git status
[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = /Applications/TextMate.app/Contents/MacOS/TextMate -w

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
